# Build artifacts
build/
DerivedData/

# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# OS files
.DS_Store
*.swp
*~
